
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"]</title>
    <style type="text/css">
        .conteiner {
            padding-top: 20px;
            display: flex;
            flex-direction: column;
            justify-items: center;
            align-items: center;
        }

        h3 {
            text-align: center;
        }

        .form-signIn {
            padding: 20px 15px;
            background-color: rgb(163, 159, 159);
            background-color: rgb(240, 240, 240);
            border-radius: 10px;
            border-color: #ccc;
            border-width: 1px;
            border-style: solid;
            box-shadow: 2px 2px 2px #888888;
            min-width: 250px;
            width: 250px;
        }

        .line {
            border-top: 1px solid #ccc;
            background-color: white;
            margin: 20px 0px;
        }

        .form-signIn input {
            border-radius: 3px;
            border: 1px solid #ccc;
            width: 100%;
        }

        .form-signIn label {
            margin-bottom: 0px;
        }

        .submit {
            background-color: #824c67;
            border-color: #824c67;
            border-style: solid;
            border-radius: 5px;
            font-size: 16px;
            padding: 5px 10px;
            color: white;
            cursor: pointer;
        }

        .primary-button {
            background-color: #824c67;
            border-color: #824c67;
            border-style: solid;
            border-radius: 5px;
            font-size: 16px;
            padding: 5px 10px;
            color: white;
            width: 100%;
        }

        .signup-button {
            display: block;
            width: 100%;
            text-align: center;
            margin-top: 10px;
        }

        input {
            font-size: 16px;
        }

        body {
            margin: 0;
            background-color: #F7F8FA;
        }

        .error {
            width: 100%;
            color: red;
            text-align: center;
            margin-top: 10px;
        }
    </style>
</head>
<body>
    @RenderBody()
</body>
</html>
