@model RegisterUser
@{
    Layout = "_AuthorizationLayout";
    ViewData["Title"] = "Register";
}

<div class="conteiner">
    <h1>Q & A</h1>
    <form asp-controller="Account" asp-action="Register" method="post" class="form-signIn">
        <label>Username</label>
        <input type="text" asp-for="Username" style="margin-bottom: 15px; " autocomplete="off" />
        <label>Password</label>
        <input type="password" asp-for="Password" style="margin-bottom: 15px;" />
        <label>Confirm Password</label>
        <input type="password" asp-for="ConfirmPassword" />
        @if (ViewBag.Error != null)
        {
            <div class="error">@ViewBag.Error</div>
        }

        <div class="line"></div>

        @if (!ViewData.ModelState.IsValid)
        {

            <div asp-validation-summary="All" class="alert alert-danger"></div>
        }

        <button type="submit" class="primary-button">Submit</button>
    </form>
</div>
