@model UserModel
@{
    Layout = "_AuthorizationLayout";
    ViewData["Title"] = "Sign In";
}

<div class="conteiner">
    <h1>Q & A</h1>
    <form asp-controller="Account" asp-action="SignIn" method="post" class="form-signIn">
        <label>Username</label>
        <input type="text" asp-for="Username" style="margin-bottom: 15px;" autocomplete="off" />
        <label>Password</label>
        <input type="password" asp-for="Password" />
        @if (ViewBag.Error != null)
        {
            <div class="error">@ViewBag.Error</div>
        }

        <div class="line"></div>

        @if(!ViewData.ModelState.IsValid)
        {
            
             <div asp-validation-summary="All" class="alert alert-danger"></div>
        }
       
       
        <button type="submit" class="primary-button">Sign in</button>
        <a class="signup-button" asp-controller="Account" asp-action="Register">New user? Sign Up</a>
    </form>
</div>
