
@{
    ViewData["Title"] = "Ask";
}

@section header {
    <style>
        fieldset {
        }

        label {
        }

        input {
        }

        textarea {
        }
    </style>
}

<h1>Ask</h1>

<div>
    <form>
        <fieldset>
            <label>
                Title
            </label>
            <input />
            <label>
                Content
            </label>
            <textarea></textarea>
            <div>
                <button type="submit">Submit</button>
            </div>
        </fieldset>
    </form>
</div>
