@model AskQuestionModel
@{
    ViewData["Title"] = "Ask";
}

@section Header {
    <style type="text/css">
        .conteiner {
            padding-top: 20px;
            display: flex;
            flex-direction: column;
            justify-items: center;
            align-items: center;
        }

        h3 {
            text-align: center;
        }
    </style>
}

@section Scripts {
    <script>
        console.log(123);
    </script>
}

<div class="conteiner">
    <h3>ASK A QUESTION</h3>
    <form asp-controller="Home" asp-action="Ask" class="form-ask">
        <label>Title</label>
        <input type="text" style="margin-bottom: 15px;" asp-for="Title">
        <label>Content</label>
        <textarea name="Content" asp-for="Content"></textarea>

        <div class="line"></div>

        @if (!ViewData.ModelState.IsValid)
        {
            <div asp-validation-summary="All" class="alert alert-danger "></div>
        }
        <button class="primary-button" type="submit">Submit Your Question</button>
    </form>
</div>
