@model AskQuestionModel
@{
    ViewData["Title"] = "Ask";
}

@section Header {
    <style>
        fieldset {
        }

        label {
        }

        input {
        }

        textarea {
        }
    </style>
}

@section Scripts {
    <script>
        console.log(123);
    </script>
}

<h1>Ask</h1>

<div>
    <form asp-controller="Home" asp-action="Ask">
        <fieldset>
            <label>
                Title
            </label>
            <input type="text" asp-for="Title"/>
            <label>
                Content
            </label>
            <textarea asp-for="Content"></textarea>
            <div>
                <button type="submit">Submit</button>
            </div>
        </fieldset>
    </form>
</div>
