@model List<QandA_lesson1.DataStore.Question>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text">
    <h5>UNANSWERED QUESTIONS</h5>
</div>


@{ foreach (var question in Model)
    {
        <div class="contener">
            <div class="box">
                <h3> @question.Text</h3>
                <p>There seem to be a fair few state management tools...</p>
                <p><i>Asked by @question.User.Username (opens in new tab) on <time> 05/18/2019 2:48:00 PM</time></i></p>
            </div>
        </div>
    }
}


