@model List<QandA_lesson1.DataStore.Question>
@{
    ViewData["Title"] = "Home Page";
}

<div class="header">
    <h5>UNANSWERED QUESTIONS</h5>
    <a asp-controller="Home" asp-action="Ask" class="primary-button">Ask a question</a>
</div>


@section Scripts{ 
<script>
$.ajax({
         type: "GET",
         url: "http://localhost:5002/api/questions",
         contentType: "application/json",
         success: function (results) {
             for (var i = 0; i < results.length; i++) {
                 var question = results[i];
                 $("#questions").append(`
                   <div class="box">
                        <h3><a href="Home/Answers/${question.id}">${question.title}</a></h3>
                        <p>${question.text}</p>
                        <p><i>Asked by ${question.user.username} on <time>${question.dateCreated}</time></i></p>
                    </div>
`);
             }
         },
         error: function (statusCode, error) {
             console.log(statusCode, error);
         }
     });
</script>
}


